@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./city-apocalypse.jpg');
}

body, button, input, select, textarea {
    font-family: 'Outfit', sans-serif;
    font-size: 1em;
}

b { font-weight: bold; }
i { font-style: italic; color: rgb(100, 100, 100); }
